body {
  background-image: url("https://i.pinimg.com/originals/df/31/77/df3177d7850400c913569158da9e9c38.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

p {
  cursor: default;
}

button {
  margin: 0.3em;
  color: black;
  background: #fffe;
  border-radius: 5px;
  border: black solid 1px;
  cursor: pointer;
}

#items-container {
  display: grid;
  grid-template-columns: 25em 1fr;
}

#items-container > * {
  border-left: solid black 2px;
  padding: 10px;
}

#item-panel-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#items-chosen {
  text-align: left;
  overflow: auto;
}

#items-chosen button {
  margin: 0.7em;
}

#items-chosen-list {
  max-height: 40vh;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#items-list {
  text-align: center;
  max-height: 80vh;
  min-height: 5em;
  overflow-y: scroll;
  overflow-x: auto;
  border: solid black 2px;
  display: inline-block;
  width: 21em;
  background: #fff9;
  padding-left: 1em;
  padding-right: 1em;
}

.item-show {
  max-height: 42vh;
  background: #fffc;
  padding: 1em;
  position: relative;
  border-radius: 5px;
  overflow: auto;
  transition: background 0.5s;
}

.item-show:hover {
  background: #fffe;
}

#beyond-icon {
  width: 30px;
  position: absolute;
  top: 0.5em;
  right: 0;
}

#random-item-button {
  background: none;
  border: none;
  font-size: 1em;
}
